#System env variables takes precedence over application-x.yml(properties) variables !!!
# Ex: if ${SERVER_PORT} is 7000 in your system env var, defining 8000 in this file will have no effect !!! Spring will always pick 7000 to use as server.port
management:
  metrics:
    export:
      prometheus:
        enabled: true

  endpoints:
    web:
      exposure:
        include: '*'

  endpoint:
    health:
      show-details: always
logging:
  level:
    root: INFO
    org:
      zalando.logbook: TRACE
      hibernate.SQL: DEBUG
    tech.zerofiltre: DEBUG
server:
  port: 80

logbook:
  write.max-body-size: 50
  exclude:
    - '**swagger-ui**'
    - '**v3/api-docs**'
    - '**/swagger-resources/**'
    - '**/webjars/**'
    - '**/actuator/**'
    - '**/csrf'

bucket4j:
  enabled: true
  filters:
    - cache-name: rate-limit-buckets
      url: .*
      metrics:
        enabled: true
        tags:
          - key: IP
            expression: getRemote()
            types: REJECTED_COUNTER
      http-response-body: "{\"apiVersion\": \"1.0\",\"error\": {\"status\": \"429\",\"message\": \"TOO MANY REQUESTS!\"}}"
      rate-limits:
        - expression: "getRemote()"
          bandwidths:
            - capacity: 5
              time: 10
              unit: seconds




spring:
  cache:
    cache-names:
      - rate-limit-buckets

  liquibase:
    change-log: classpath:/liquibase/db/changelog/db.changelog-dev.yaml
  mvc:
    log-request-details: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_address@domain.com
    password: ${SPRING_MAIL_PASSWORD:yourpassword}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    username: blog_api_dev
    password: ${SPRING_DATASOURCE_PASSWORD:blog_api_dev}
    url: jdbc:mysql://localhost:3306/blogapidb_dev
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update




  messages:
    fallback-to-system-locale: false
    basename: i18n.messages

springdoc:
  packagesToScan: tech.zerofiltre.blog
  pathsToMatch: /**

zerofiltre:
  env: dev
  contact.email: info@zerofiltre.tech
  infra:
    sandbox.k8s.doc: https://github.com/Zerofiltre-Courses/bootcamp-devops-dev/blob/main/k8s/k8s_README.md
    stats.reminder.cron: "0 0 13 1 * ?"
    mobile.payments.reminder.cron: "0 */30 * * * ?"
    security:
      jwt:
        expiration-seconds: 86400 #1 day
        secret: JwtSecretKey
        prefix: Bearer
        header: Authorization
        uri: /auth/**
      verification-token:
        expiration-seconds: 604800   #7 days

    api:
      notchpay:
        url: https://api.notchpay.co
        public-key: ${NOTCHPAY_PUBLIC_KEY:noneed}
        private-key: ${NOTCHPAY_PRIVATE_KEY:noneed}
        hash: ${NOTCHPAY_HASH:noneed}
      vimeo:
        root-url: ${VIMEO_ROOT_URL:noneed}
        access-token: ${VIMEO_ACCESS_TOKEN:noneed}
      stripe:
        secret-key: ${STRIPE_SECRET_KEY:noneed}
        webhook-secret: ${STRIPE_WEBHOOK_SECRET:noneed}
        customer-portal-link: ${CUSTOMER_PORTAL_LINK:noneed}
        pro-plan-product-id: ${PRO_PLAN_PRODUCT_ID:noneed}
        pro-plan-price-id: ${PRO_PLAN_PRICE_ID:noneed}
        pro-plan-yearly-price-id: ${PRO_PLAN_YEARLY_PRICE_ID:noneed}
      github:
        root-url: https://api.github.com/
        client-id: 9b6bffa9841d19dfd8aa
        client-secret: ${GITHUB_CLIENT_SECRET:noneed}
      stackoverflow:
        version: 2.3
        root-url: https://api.stackexchange.com/
        key: ZAeo5W0MnZPxiEBgb99MvA((
      ovh:
        username: ${OVH_USERNAME:noneed}
        password: ${OVH_PASSWORD:noneed}
        auth-url: ${OVH_AUTH_URL:noneed}
        bucket-url: ${OVH_BUCKET_URL:noneed}
      k8s-provisioner:
        url: https://provisioner-dev.zerofiltre.tech
        token: ${K8S_PROVISIONER_TOKEN:noneed}
      openai:
        url: ${OPENAI_URL:noneed}
        api-key: ${OPENAI_API_KEY:noneed}
        organization-id: ${OPENAI_ORGANIZATION_ID:noneed}
        project-id: ${OPENAI_PROJECT_ID:noneed}
    entrypoints:
      rest:
        api-version: 1.0
        allowed-origins-pattern: "*"
    reminder-rate: 864000000 #10 days
    reminder-initial-delay: 864000000 #10 days
    max-attempts: 2
    checkout-reminder-delay-ms: 60000
    checkout-reminder-check-frequency-ms: 2000


