#System env variables takes precedence over application-x.yml(properties) variables !!!
# Ex: if ${SERVER_PORT} is 7000 in your system env var, defining 8000 in this file will have no effect !!! Spring will always pick 7000 ot use as server.port
management:
  endpoints:
    web:
      exposure:
        include: '*'

  endpoint:
    health:
      show-details: always
logging:
  level:
    root: INFO
    org:
      zalando.logbook: TRACE
      hibernate:
        SQL: ${LOGGING_LEVEL_ORG_HIBERNATE_SQL}
      springframework:
        web: ${LOGGING_LEVEL_ORG_SPRINGFRAMEWORK}
    tech:
      zerofiltre: ${LOGGING_LEVEL_TECH_ZEROFILTRE}
server:
  port: ${SERVER_PORT}

logbook:
  write.max-body-size: 50
  exclude:
    - '**swagger-ui**'
    - '**v3/api-docs**'
    - '**/swagger-resources/**'
    - '**/webjars/**'
    - '**/actuator/**'
    - '**/csrf'

bucket4j:
  enabled: true
  filters:
    - cache-name: rate-limit-buckets
      url: .*
      metrics:
        enabled: true
        tags:
          - key: IP
            expression: getRemote()
            types: REJECTED_COUNTER
      http-response-body: "{\"apiVersion\": \"1.0\",\"error\": {\"status\": \"429\",\"message\": \"TOO MANY REQUESTS!\"}}"
      rate-limits:
        - expression: "getRemote()"
          bandwidths:
            - capacity: ${THROTTLING_CAPACITY}
              time: ${THROTTLING_TIME_SECONDS}
              unit: seconds

spring:
  liquibase:
    change-log: ${SPRING_LIQUIBASE_CHANGELOG}
  mvc:
    log-request-details: true
  mail:
    host: ${SPRING_MAIL_HOST}
    port: ${SPRING_MAIL_PORT}
    username: ${SPRING_MAIL_USERNAME}
    password: ${SPRING_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    url: ${SPRING_DATASOURCE_URL}
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: ${HIBERNATE_DDL_AUTO}

  messages:
    fallback-to-system-locale: false
    basename: i18n.messages

springdoc:
  packagesToScan: tech.zerofiltre.blog
  pathsToMatch: /**

zerofiltre:
  env: ${ZEROFILTRE_ENV}
  contact.email: info@zerofiltre.tech
  infra:
    sandbox.k8s.doc: ${SANDBOX_K8S_DOC}
    stats.reminder.cron: ${ZEROFILTRE_INFRA_STATS_REMINDER_CRON}
    mobile.payments.reminder.cron: ${ZEROFILTRE_INFRA_MOBILE_PAYMENTS_REMINDER_CRON}
    security:
      jwt:
        expiration-seconds: ${SECURITY_JWT_EXPIRATION}
        secret: ${SECURITY_JWT_SECRET}
        prefix: Bearer
        header: Authorization
        uri: ${SECURITY_JWT_URI}
      verification-token:
        expiration-seconds: ${SECURITY_VERIFICATION_TOKEN_EXPIRATION}
    api:
      notchpay:
        url: https://api.notchpay.co
        public-key: ${NOTCHPAY_PUBLIC_KEY}
        private-key: ${NOTCHPAY_PRIVATE_KEY}
        hash: ${NOTCHPAY_HASH}
      vimeo:
        root-url: ${VIMEO_ROOT_URL}
        access-token: ${VIMEO_ACCESS_TOKEN}
      stripe:
        secret-key: ${STRIPE_SECRET_KEY}
        webhook-secret: ${STRIPE_WEBHOOK_SECRET}
        customer-portal-link: ${CUSTOMER_PORTAL_LINK}
        pro-plan-product-id: ${PRO_PLAN_PRODUCT_ID}
        pro-plan-price-id: ${PRO_PLAN_PRICE_ID}
        pro-plan-yearly-price-id: ${PRO_PLAN_YEARLY_PRICE_ID}
      github:
        root-url: https://api.github.com/
        client-id: ${GITHUB_CLIENT_ID}
        client-secret: ${GITHUB_CLIENT_SECRET}
      stackoverflow:
        version: 2.3
        root-url: https://api.stackexchange.com/
        key: ${STACKOVERFLOW_KEY}
      ovh:
        username: ${OVH_USERNAME}
        password: ${OVH_PASSWORD}
        auth-url: ${OVH_AUTH_URL}
        bucket-url: ${OVH_BUCKET_URL}
      k8s-provisioner:
        url: ${K8S_PROVISIONER_URL}
        token: ${K8S_PROVISIONER_TOKEN}
      openai:
        url: ${OPENAI_URL:noneed}
        api-key: ${OPENAI_API_KEY}
        organization-id: ${OPENAI_ORGANIZATION_ID}
        project-id: ${OPENAI_PROJECT_ID}
    entrypoints:
      rest:
        api-version: 1.0
        allowed-origins-pattern: ${ALLOWED_ORIGINS_PATTERN}
    reminder-rate: ${REMINDER_RATE}
    reminder-initial-delay: ${REMINDER_INITIAL_DELAY}
    max-attempts: 3
    checkout-reminder-delay-ms: ${CHECKOUT_REMINDER_DELAY_MS}
    checkout-reminder-check-frequency-ms: ${CHECKOUT_REMINDER_CHECK_FREQUENCY_MS}

