<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="default">
        <appender name="Console"
                  class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

    <springProfile name="kubernetes">
        <appender name="Console"
                  class="ch.qos.logback.core.ConsoleAppender">
            <!--        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
            <!--            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->

            <!--            </jsonFormatter>-->
            <!--            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>-->
            <!--            <appendLineSeparator>true</appendLineSeparator>-->
            <!--        </layout>-->
            <encoder>
                <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg - %replace(%ex){'\n','\\n'}
                    %nopex %n
                </pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </springProfile>

</configuration>