<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <!--        <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">-->
        <!--            <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">-->

        <!--            </jsonFormatter>-->
        <!--            <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>-->
        <!--            <appendLineSeparator>true</appendLineSeparator>-->
        <!--        </layout>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <!--    <logger name="com.baeldung" level="trace" additivity="false">-->
    <!--        <appender-ref ref="RollingFile" />-->
    <!--        <appender-ref ref="Console" />-->
    <!--    </logger>-->

</configuration>