<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="emailFooter">
        <div align="center" style="padding: 20px; font-size: 14px; color: #1c2e5c;">
            <a href="https://www.linkedin.com/company/65767867/admin/" target="_blank" style="display: inline-block; padding: 5px 10px; background-color: #0a66c2; color: #ffffff; text-decoration: none; border-radius: 3px; font-weight: bold;">in</a>
            <p style="margin: 10px 0;">&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span> Zerofiltre</p>
            <p style="margin: 0;">72 AV De La Division Leclerc</p>
            <p style="margin: 0;">93350 Le Bourget</p>
            <p style="margin-top: 10px;">
                <a th:href="${originUrl}" style="color: #1c2e5c;">zerofiltre.tech</a> |
                <a href="mailto:info@zerofiltre.tech" style="color: #1c2e5c;">info@zerofiltre.tech</a> |
                <a style="color: #1c2e5c;" th:href="${originUrl} + '/broadcast/unsubscribe'"><span
                        th:text="#{broadcast_unsubscribe}"></span></a>
            </p>
        </div>
    </th:block>
</body>
</html>